* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #242222;
}

.main-game {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.genius {
  width: 100%;
  max-width: 500px;
  height: 500px;
  display: grid;
  grid-template-areas:
    "green red"
    "yellow blue";
  gap: 0.7rem;
  background: rgb(26, 26, 26);
  padding: 20px;
  border-radius: 25%;
}

.blue,
.yellow,
.red,
.green {
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0.5;
}

.blue {
  grid-area: "blue";
  background: #1a237e;
  border-radius: 50% 0 0 0;
}

.yellow {
  grid-area: "yellow";
  background: #ffff00;
  border-radius: 0 50% 0 0;
}

.red {
  grid-area: "red";
  background: #b71c1c;
  border-radius: 0 0 0 50%;
}

.green {
  grid-area: "green";
  background: #00c853;
  border-radius: 0 0 50% 0;
}

.selected {
  opacity: 1;
}

p {
  font-family: "Open Sans", sans-serif;
  position: absolute;
  top: 100px;
  text-align: center;
  color: rgb(228, 228, 228);
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
}

button {
  position: absolute;
  bottom: 100px;
  width: 90%;
  max-width: 500px;
  background: #00c853;
  color: rgb(228, 228, 228);
  padding: 15px 0;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background 0.3s;
}

button:hover {
  background: #019940;
}
